.navItem {
  /* position: relative; */
  /* transition: background 0.5s; */
  padding: 0 15px;
}

.navbarLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 30px 0;
}

.dropdownBlock {
  display: flex;
  width: auto;
  height: auto;
  position: absolute;
  background: black;
  left: 230px;
  /* visibility: hidden; */
}

.categorySection {
  /* visibility: hidden; */
  /* opacity: 0; */
  /* transition: opacity 0.5s; */
  margin-top: 1rem;
  left: 0;
  display: none;
  min-width: 5rem;
  margin: 0;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  padding: 0 15px;
  z-index: 10;
  list-style: none;
  display: block;
  width: 200px;
  margin-bottom: 20px;
  /* height: 100%; */
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
}

/* .navItem:hover .categorySection {
  visibility: visible;
  opacity: 1;
  background: black;

  .dropdownBlock {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
} */

.navItem .categorySection {
  visibility: visible;
  /* opacity: 1; */
  /* background: black; */

  .dropdownBlock {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.mainCategory {
  width: 100%;
  margin: 0;
  padding: 2px 0 5px 0;
}

.mainCategoryLink {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 800;
}

.subCategory {
  width: 100%;
  margin: 0;
  padding: 2px 0;
}

.subCategoryLink {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}
